<div class="flex h-screen justify-center">
    <form class="p-4 rounded-lg border m-auto w-1/3">
        <h1 class="text-center text-left">Login</h1>
        <div class="my-5 w-full">
            <label for="email">Email</label>
            <input type="email" id="email" class="p-2 rounded w-full border" placeholder="Email Address">
        </div>
        <div class="my-5 w-full">
            <label for="password">Password</label>
            <input type="password" id="password" class="p-2 rounded w-full border" placeholder="Password">
        </div>
        <div class="my-5 w-full">
            <label for="confirmPassword">Confirm Password</label>
            <input type="password" id="confirmPassword" class="p-2 rounded w-full border" placeholder="Password">
        </div>
        <div class="my-5 w-full">
            <input type="submit" class="p-2 w-full bg-purple-700 text-white hover:bg-purple-900 rounded">
        </div>
    </form>
</div>
